<div id="makemeone">
  <h3>Shut up and make me one NOW!</h3>
  <form class="pure-form pure-form-aligned">
    <input name="packageName" type="text" placeholder="package name" class="pure-input-1-4">
  </form>

  <div class="package-not-found" style="text-align: center; display: none;">
    <p><strong>Package not found: <span class="package-name"></span></strong></p>
  </div>

  <div class="package-not-valid" style="text-align: center; display: none;">
    <p><strong>Invalid package name: <span class="package-name"></span></strong></p>
  </div>

  <div class="badges" style="display: none;">
    <div class="badge plain examples">
      <div class="img"></div>
      <br>
      <div class="code"></div>
    </div>
  </div>

</div>
