<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/otv0tvi.css">
    <link rel="stylesheet" href="/pure.min.css" type="text/css">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://npmjs.com/static/images/touch-icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://npmjs.com/static/images/touch-icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://npmjs.com/static/images/touch-icons/favicon-230x230.png" sizes="230x230">
    <link rel="icon" type="image/png" href="https://npmjs.com/static/images/touch-icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://npmjs.com/static/images/touch-icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://npmjs.com/static/images/touch-icons/coast-228x228.png" sizes="228x228">
    <link rel="icon" type="image/png" href="https://npmjs.com/static/images/touch-icons/favicon-16x16.png" sizes="16x16">
    <title>NodeICO</title>
  </head>
  <body>

    <div id="layout" class="pure-g">
      <div id="main" class="pure-u">
        <div class="header pure-u-1">
          <div id="nodesource">
            <p>This is an extension of <a href="https://nodei.co">nodei.co</a>.</p> 
          </div>
          <h1 class="pure-u-1">NodeICO</h1>
          <h2>SVG node.js badges for scoped packages as well!</h2>
        </div>

        <div class="content">
          {{ content }}
        </div>

        <div class="footer">
          <p><b>npm is a trademark of npm, Inc., NodeICO is not affiliated with npm, Inc. or the official npm open source project in any way.</b></p>
          <p><small>Made by <a href="https://merferry.github.io">Merferry</a>.</small></p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
