<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script type="text/javascript">try{ Typekit.load(); } catch(e) {}</script>
    <link rel="stylesheet" href="https://use.typekit.net/otv0tvi.css">
    <link rel="stylesheet" href="/pure.min.css" type="text/css">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>NodeICO</title>
  </head>
  <body>

    <div id="layout" class="pure-g">
      <div id="main" class="pure-u">
        <div class="header pure-u-1">
          <div id="nodesource">
            <p>This is an extension of <a href="https://nodei.co">nodei.co</a>.</p> 
          </div>
          <h1 class="pure-u-1">NodeICO</h1>
          <h2>SVG node.js badges for scoped packages as well!</h2>
        </div>

        <div class="content">
          {{ content }}
        </div>

        <div class="footer">
          <p><b>npm is a trademark of npm, Inc., NodeICO is not affiliated with npm, Inc. or the official npm open source project in any way.</b></p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
